<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>Home A</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>
 
<body>
<!-- Navbar-->
<nav class="navbar navbar-default navbar-fixed-top" id="navBar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white;letter-spacing:.8em;padding:25px 0 0 55px;font-size:1.5em;">NOTIFIER</a>
    </div>
       <button class="btn btn-lg btn-primary btn-action" id="btnLogOut" style="float:right;margin-top:.7em;"><a href="/#/admin" style="color:white;text-decoration:none;">LOG OUT</a></button>
  </div><!-- /.container-fluid -->
</nav>
<!--Navbar Ends-->
<div class="heading">
<h2 style="font-weight:bold;">Add Notice!</h2>
</div>
<div class="input-group input-group-lg" style="padding: 3% 15% 4% 15%">
  <span class="input-group-addon" id="sizing-addon1">Enter Notice</span>
  <input type="text" class="form-control" id="txtSubject" ng-model="txtSubject" placeholder="Enter Notice" aria-describedby="sizing-addon1">
</div>
<div class="input-group input-group-lg" style="padding: 0 15% 5% 15%">
  <span class="input-group-addon" id="sizing-addon1">Navrachanaa Details</span>
  <input type="text" class="form-control" id="txtNavrachna" ng-model="txtDetails" placeholder="Enter Details" aria-describedby="sizing-addon1">
</div>
<div class="input-group input-group-lg" style="padding: 0 15% 5% 15%">
  <span class="input-group-addon" id="sizing-addon1">Spandan Details</span>
  <input type="text" class="form-control" id="txtSpandan" placeholder="Enter Details" aria-describedby="sizing-addon1">
</div>
<button class="btn btn-lg btn-primary btn-action" id="submitDet" ng-click="submitDetails()">SUBMIT</button>
</body></html>
