/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu>li {
    display: inline;
}

.menu>li+li:before {
    content: "|";
    padding-right: 0.3em;
}

/*Navbar Home2 */
#navBar {
    background-color: #002d72;
    font-family: "franklin", Helvetica, sans-serif;
    font-weight: bold;
    height: 5em;
}
.headerButton{
    float:right;
    margin:1.2em 0 0 0 ;
    padding:.5em .5em .5em .5em;
    border:2px solid white;
}
#buttonLink{
    color:white;
    text-decoration:none;
}
.headerButton:hover{
    background-color:#000f26;;
}
@media only screen and (max-width: 770px) {
 .headerButton{
    float:right;
     font-size:.7em;
    margin:-2.7em 0 0 0 ;
    padding:.5em .5em .5em .5em;
    border:2px solid white;
}   
}
/*
.navBarList {
    list-style: none;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navBarList li {
    float: right;
}

.navBarList li a {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1.8em 2em;
    letter-spacing: .2em;
}

.navBarList li a:hover {
    color: #d8a808;
}
*/



/*Home Section Home2 */

.jumbotron {
    margin: 0 15% 0 15%;
}

.panel-body {
    height: 20em;
    font-family: "franklin", Helvetica, sans-serif;
    color:white;
    text-align: center;
    font-weight: bold;
     background: url(img/back5.jpg) no-repeat center fixed; 
    background-size: cover;
}

.panel-body h3 {
    padding-top: 4em;
    font-weight: bold;
}

#subject {
/*    background-color: white;*/
    text-align: center;
    font-weight: bold;
    padding-top: 8em;
    border:1px solid white;
}

.thumbnail {
    margin: 0 15% 0 15%;
}

.caption {
    height: 6em;
}

#spandan {
    text-align: center;
    font-weight: bold;
    color: #002d72;
}

#navrachna {
    text-align: center;
    font-weight: bold;
    color: #002d72;
}

.footer {
    background-color: #002d72;
    font-family: "franklin", Helvetica, sans-serif;
    font-weight: bold;
    height: 5em;
    margin-bottom: -4em;
}
/*Notify*/
#about{
    padding-top: 7em;
}
#sub{
    text-align: center;
    font-weight: bold;
    color: #002d72;    
}
table, td{
    border:1px solid black;
    padding:1.5em 1.5em 1.5em 1.5em;    
}
.table_head{
    font-weight:bold;
    background-color: #002d72;
    text-align:center;
    color:white;
    font-size:2em;
}